* {
  /*border: 1px solid red;*/
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* GENERAL */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 170px;
}

.container {
  box-sizing: border-box;
}

.top-buffer {
  /*margin-top: 50px;*/
}

.bottom-buffer {
  margin-top: 50px;
  padding-bottom: 110px;
}

.in-column-buffer {
  margin-top: 20px;
}

.main-layout {
  /*margin-bottom: 150px;*/

}

.jumbotron {
  margin-top: 0px;
}

/* TOP BAR */

.back-button {
  margin-top: 20px;
}

/* FORMS */

.input-buffer {
  margin: 10px auto 0 auto;
  width: 80px;
}

.form-questions {
  color: #09A1E1;
  font-weight: normal;
  font-size: 24px;
  margin: 6px 0;
}

.information-text {
  color: grey;
  font-style: italic;
  font-size: 14px;
  margin-top: 6px;
}

.form-group {
  margin-bottom: 24px;
}

/* LISTS */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* FOOTER */

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /*height: 160px;*/
  background-color: #d9edf7;
  color: #31708f;
  width: 100%;
  border: 1px solid #d9edf7;
  /*margin: 40px 0 0 0;*/
  padding: 20px 20px 5px 20px;
}

.footer a {
  color: #31708f;
  font-size:15px;
}

.footer h3 {
  margin-top: 0px;
}

.footer .container {
  margin-top: 0;
  height: 30px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.hr--small {
  border-top: 1px solid #e0e0e0;
  border-color: #bce8f1;
}

.footer .legal-links, .legal-links a {
  font-size: 12px;
}

.footer-logos {
  max-height: 60px;
}
