<template name="footer">
  <footer class="footer">
    <div class="row">
      <div class="col-sm-3 col-sm-offset-2">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="/" id="home">Home</a></li>
          <li><a href="/about" id="about">About</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-4 col-md-offset-1 legal-links">
        This app is not for clinical use.<br>
        For demonstration purposes only.<br>
        No guarantee of clinical accuracy can be given.<br>
        Algorithm belongs to NHS Lothian and is used here for educational purposes.
      </div>
    </div>
    <div class="container">
      <hr class="hr--small">
    </div>
    <div class="row">
      <div class="col-sm-12 text-center legal-links">
        © 2017 Dr Michael Barry | Built using Meteor JS &amp; Bootstrap
      </div>
    </div>
  </footer>
</template>
